<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <nav>
        <li>
            <a href="#">Login</a>
        </li>
        <li>
            <a href="#">Sign Up</a>
        </li>
    </nav>
    {{{body}}}
</body>

</html>