<<!--
<h1>Post your job</h1>
<form action="/job/createJob" method="post">
    <label for="jobTitle">jobTitle</label>
    <input type="text" id="jobTitle" name="jobTitle" /><br></br>
    <label for="jobDescription">jobDescription </label>
    <input type="text" id="jobDescription" name="jobDescription" /><br></br>
    <label for="jobStreetName">jobStreetName </label>
    <input type="text" id="jobStreetName" name="jobStreetName" /><br></br>
    <input type="submit" value="post">
</form>

<p>Error message:(if have any)</p>
<p>{{errmsg}}</p>
-->>

<div>
    <h4 style=" display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;">Create Job</h4>
</div>
<div class="container">
  <form action="/job/createJob" method="post">
    <div class="row">
      <div class="col-25">
        <label for="jobTitle">Job Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="jobTitle" name="jobTitle" placeholder="Enter Job Title">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="jobDescription">Job Description</label>
      </div>
      <div class="col-75">
        <input type="text" id="jobDescription" name="jobDescription" placeholder="Enter Job Description">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="jobStreetName">Job Street Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="jobStreetName" name="jobStreetName" placeholder="Enter Job Street Name">
      </div>
    </div>
    <!--
   <div class="row">
      <div class="col-25">
        <label for="JobAuthor">Job Author</label>
      </div>
      <div class="col-75">
        <input type="text" id="JobAuthor" name="JobAuthor" placeholder="Enter Job Author Name">
      </div>
    </div>
    -->
    <div class="row" style="margin-top: 10px;">
      <input  type="submit" value="Submit">
    </div>
  </form>
</div>
