<body>
	<main>
		<br><br>
		<form action="jobs/searchJobs" method="post" class="search-form" id="search-form">
			<label for="jobsInput">Search</label><br>
			<input type="text" id="jobsInput" name="jobsInput" placeholder="Search for jobs">
			<br>
			<br><br>
			<input type="submit" class="button">
			<div class="form-group hidden" id="error-container">
				<div class="alert alert-danger text-goes-here"></div>
			</div>
		</form>
		<script src="/public/js/searchbarValidation.js"></script>
	</main>
</body>