
<body>
    <main>
        <br><br>
        <form action="jobs/searchJobs" method="post" class="search-form">
            <label for="jobsInput">Search</label><br>
            <input type="text" id="jobsInput" name="jobsInput" placeholder="Search for jobs"> <br>
            <br><br>
            <input type="submit" class="button">
        </form>
    </main>
</body>
</html>
