<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <main>
        <nav>
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a href="#">Sign Up</a>
            </li>
        </nav>
        <br><br>
        <form action="/searchJobs" method="post" class="search-form">
            <label for="jobsInput">Search</label><br>
            <input type="text" id="jobsInput" name="jobsInput" placeholder="Search for jobs"> <br>
            <br><br>
            <input type="submit" class="button">
        </form>
    </main>
</body>
</html>
