<main>
		<br><br>
		<form action="job/searchJobs" method="post" class="search-form" id="search-form">
			<label for="jobsInput" class="homepageJobsInput">Search</label><br>
			<input type="text" id="jobsInput" name="jobsInput" placeholder="Search for jobs">
			<br>
			<br><br>
			<input type="submit" class="button">
			<div class="form-group hidden" id="error-container">
				<div class="alert alert-danger text-goes-here"></div>
			</div>
		</form>
		<br><br>
    <h1 class="homepageH1">Available Jobs in Hoboken right now!</h1>
    <ul class="homepageUl">
      {{#each jobList}}
      <li class="homepageLi">
        <a href="/job/{{_id}}" class="joblistTitle">{{jobTitle}}</a>
		<br>
		<a href="/job/{{_id}}" class="joblistDescription"> {{jobDescription}}</a>
      </li>
      {{/each}}
    </ul>
		<script src="/public/js/searchbarValidation.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
	</main>