<h1>search bar</h1>
<form action="/searchJobs" method="post" class="search-form">
    <label for="jobsInput">Search</label><br>
    <input type="text" id="jobsInput" name="jobsInput" placeholder="Search for jobs"> <br>
    <br><br>
    <input type="submit" class="button">
</form>

<h1>jobList</h1>
<ul>
    {{#each jobs}}
    <li>
        <a href="/job/{{_id}}">{{jobTitle}}</a>
    </li>
    {{/each}}
</ul>