<body>
    <h3>Your Search Related Jobs are</h3>
    <ul>
        {{#each jobs}}
    <li>
        {{jobTitle}} <br>
        {{jobDescription}} <br><br><br>
    </li>
    {{/each}}
    </ul>
    

</body>


