<p>this is login page</p>
<form action="/login" method="post">
    <label for="email">Email </label>
    <input type="text" id="email" name="email" />
    <label for="password">password </label>
    <input type="password" id="password" name="password" />
    <input type="submit" value="Login">
</form>

<p>Error Code(if exists):</p>
<li>
    <p>{{errormsg}}</p>
</li>
    