<h1>Post your job</h1>
<form action="/postjob" method="post">
    <label for="email">Email </label>
    <input type="text" id="email" name="email" />
    <label for="password">password </label>
    <input type="password" id="password" name="password" />
    <input type="submit" value="Login">
</form>