<h1 class="homepageH1">Search Result</h1>
<div class=""></div>
<ul class="homepageUl">
    {{#each searchResults}}
    <li class="homepageLi">
        <p class="joblistTitle">Job Title: <a href="/job/{{_id}}">{{jobTitle}}</a></p><br>
        <p class="joblistDescription">Job Detail: {{jobDescription}}</p> <br>
         <p class="joblistDescription">Job Tag: {{jobTag}}</p> <br>
    </li>
    {{/each}}
</ul>