<main>
	<form id="registration-form" action="/register" method="post">
		<label for="firstNameInput">Enter your first name</label>
		<input type="text" name="firstNameInput" id="firstNameInput" placeholder="Enter your first name">
		<br><br>
		<label for="lastNameInput">Enter your last name</label>
		<input type="text" name="lastNameInput" id="lastNameInput" placeholder="Enter your last name">
		<br><br>
		<label for="emailInput">Enter your email</label>
		<input type="text" name="emailInput" id="emailInput" placeholder="Enter your email">
		<br><br>
		<label for="ageInput">Enter your age</label>
		<input type="text" name="ageInput" id="ageInput" placeholder="Enter your age">
		<br><br>
		<label for="phoneNumberInput">Enter your phone number</label>
		<input type="text" name="ageInput" id="phoneNumberInput" placeholder="Enter your phone number">
		<br><br>
		<label for="passwordInput">Create a password</label>
		<input type="password" name="passwordInput" id="passwordInput" placeholder="Enter your password">
		<br><br>
		<input type="submit" value="Submit">
		<div class="form-group hidden" id="error-container">
		  <div class="alert alert-danger text-goes-here"></div>
		</div>
	</form>
	<br><br><br><br>
	{{#if error}} <h4>{{error}}</h4>{{/if}}
	<a href="/">Already have an account? Click here to login</a>
	<script src="/public/js/signUpValidation.js"></script>
</main>
