<button onclick="send()">test</button>

<script text="text/javascript">
    function send(){
        var xhttp = new XMLHttpRequest();
        xhttp.open("post","/upload", true);
        xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhttp.send(`jobId=6554351&comment=hahaha`);
    }
</script>